{{#> layouts/react title="Page One" }}
  {{#*inline "content-block"}}
    const [count, setCount] = React.useState(0);
    const [text, setText] = React.useState("Initial message");

    React.useEffect(() => {
      console.log("Launching event source.");
      const sse = new EventSource('/auth/sse', { withCredentials: true });

      function getRealtimeData(data) {
        setText(data.time)
      }
      sse.onmessage = e => getRealtimeData(JSON.parse(e.data));

      sse.onerror = () => {
        sse.close();
      }

      return () => {
        sse.close();
      };
    }, []);

    return (
      <div>
        <p>{text}</p>
        <p>You clicked {count} times</p>
        <button onClick={()=> setCount(count + 1)}>
        Click me
        </button>
      </div>
    );
  {{/inline}}
{{/layouts/react}}