<!doctype html>
<html lang='en'>
<head>
  <title>
    {{#if title}}
      {{title}}
    {{else}}
      Base Page Title
    {{/if}}
  </title>

  <link rel="stylesheet" href="/public/css/main.css">
  {{#> head-block}}
  {{/head-block}}
</head>
<body style="margin: 0 10px">

{{#> header-block}}
  {{> includes/header }}
{{/header-block}}

{{#> content-block}}
  <p>Content block</p>
{{/content-block}}

<footer>
  {{#> footer-block}}
    {{> includes/footer }}
  {{/footer-block}}
</footer>

<script src="/public/js/main.js">
</script>

<script>
  {{#> scripts-block}}
  {{/scripts-block}}
</script>

</body>
</html>